.boardContainer {
  position: relative;
  overflow: auto;

  width: 100%;
  height: 100%;

  & > .board {
    position: relative;
    overflow: auto;
    background: #fafafa;

    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

  }

  & > .zoom {
    position: fixed;
    left: 28px;
    bottom: 28px;
    z-index: 9999;

    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;

    padding: 8px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    & > button {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      margin: 0 8px;
      background: #333;
      border: none;
      color: #fff;
      border-radius: 3px;
      height: 18px;
      width: 18px;
      cursor: pointer;
    }

    & > .scale {
      margin: 0 8px;
      width: 50px;
      text-align: center;
    }
  }
}

:global(.dark) .board {
  background: rgb(30 41 59 / 1);;
  & > .zoom {
    background: rgb(30 41 59 / 1); /* dark:bg-slate-800 */
    border-color: rgb(51 65 85 / 1); /* dark:border-slate-600 */
    
    & > button {
      background: rgb(71 85 105 / 1); /* dark:bg-slate-600 */
      color: rgb(241 245 249 / 1); /* dark:text-slate-100 */

      &:hover {
        background: rgb(100 116 139 / 1); /* dark:hover:bg-slate-500 */
      }
    }

    & > .scale {
      color: rgb(241 245 249 / 1); /* dark:text-slate-100 */
    }
  }
}